@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Kdam+Thmor+Pro&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&family=Roboto:wght@300;400;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Comfortaa', sans-serif;
}

:root {
    --white: white;
    --black: black;
    --naranjaoscurillado: #B0A326;
    --verdemostaza: #8E9E31;
    --naranja: #E5B50E;
    --verdeoscurillo: #677709;
    --verdeocuro: #165f03b3;
    --verdemedio: #84bd76b3;
    --verdemediosintrans: #84bd76;
    --verdeclaro: #f1ffeeb3;
    --verdeclarosintransp: #f1ffee;
    --colorhuevo: #fef893;
    --gris: #D9D9D9;
    --amarillo: #e9cc0f;
}

/* generales */

h1 {
    font-size: xxx-large;
}

p {
    font-size: large;
}
/* ............................... */
/* ..............header ...........*/
/* ............................... */

.home {
    background-color: var(--verdemostaza);
    padding: 1rem;
}

a {
    color: var(--black);
}

a:visited {
    color: var(--black);
}

.divIdiomas {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--amarillo);
    cursor: pointer;
}

.btnIdioma{
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;

}

.idiom:hover {
    color: var(--colorhuevo);
    text-shadow: 0rem 0rem 0.5rem var(--naranja);
    transition: 300ms ease;
}

.boton-carrito {
    background-color: transparent;
    border: none; 
    cursor: pointer;
}

.numerito {
    background-color: var(--amarillo);
    padding: 0 .25rem;
    border-radius: 1rem;
    border: solid 0.1rem var(--amarillo);
}

.boton-estrella {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.buscar {
    display: inline;
}

.buscador {
    align-items: center;
    display: inline-block;
    height: 2.8rem;
    width: 18rem;
    border-radius: 0.5rem;
}

.logo, .logo2 {
    max-width: 5rem;
    filter: drop-shadow(0 2px 5px var(--verdeocuro)); 
}

h1 {
    margin-top: 2rem;
}

i {
    font-size: x-large;

}

.fila1, .fila2{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fila1 {
    margin-bottom: 1rem;
}

.items-lista-hamburguesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.3rem;
    font-size: xx-large;
    cursor: pointer;
    color: var(--black);
    background-color: transparent;
    border: none;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: var(--b);
    margin: 0rem 2rem;
}

.nav {
    width: 100%;
/*     transition:
    0.2s 0.2s border-top ease-out,
    0.3s border-top-color; */

}

.items-lista-hamburguesa:hover {
    color: var(--verdeocuro);
}
  
  .abrir-menu,
  .cerrar-menu {
    display: none;
  }

  .cerrar-menu {
    margin: 0.8em;
  }

/* ............................... */
/* .......pagina principal.........*/
/* ............................... */


.intro{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
    align-items: center;

}

.intro1 {
    width: 58%;
}

.introCostado {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fotointro {
/*     position: relative; */
    width: 95%;
    border-radius: 0.8rem;
}

.HB:hover {
    box-shadow: 0rem 0rem 1rem 0.5rem var(--naranja);
    transform: scale(1.01);
    transition: 300ms ease;
}

.fotointroDescuento {
    width: 95%;
    border-radius: 0.8rem;
/*     z-index: -1; */
}

.descuentoIVA {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*     position: relative; */
}

.descuentoEnvios {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*     position: relative; */
}

.fecha {
    width: 95%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    border: solid var(--verdeoscurillo);
    border-radius: 0.8rem;
    background-color: var(--naranjaoscurillado);
    justify-content: center;
    align-items: center;
}

#reloj {
    margin: 1rem;
    font-size: xx-large;
}

#calendario {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    font-size: xx-large;
}

/* ............................... */
/* ...........categorias...........*/
/* ............................... */

.navC {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
}

.wrapper { 
    display: flex;
    flex-direction: column;
}

.categorias {
    display: flex;
}

.boton-menu {
margin: 1rem;
background-color: transparent;
border: none; 
cursor: pointer;
font-size: x-large;
padding: 1rem;
}

.boton-menu:hover {
    background-color: var(--verdeclaro);
    padding: 1rem;
    border-radius: 0.8rem;
    color: var(--naranja);
}

.boton-menu.active {
    background-color: var(--verdeclarosintransp);
    border-radius: 0.8rem;
}

i {
    margin: 0.5rem;
}

/* .principal-productos {
    border: solid red;
} */

.titulo-principal {
    color: var(--verdeocuro);
    font-size: xx-large;
    margin: 2rem;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.producto {
    display: flex;
    flex-direction: column;
    width: 20rem;
/*     height: 25rem; */
    margin: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0rem 1rem 0.25rem var(--amarillo);
    border-radius: 0.8rem;
    position: relative;
    transition: 300ms ease;
}

.producto:hover {
    background-color: var(--verdeclaro);
    box-shadow: 0rem 0rem 1rem 0.35rem var(--amarillo);
}

.producto-imagen {
    width: 90%;
    border-radius: 0.8rem;
    margin: 0.5rem;
}

.producto-detalles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.producto-titulo {
    font-size: x-large;
    margin: 0.5rem;
}

.producto-precio {
    font-size: x-large;
    color: var(--verdeocuro);
}

.producto-agregar {
    background-color: var(--naranja);
    border-radius: 0.8rem;
    color: var(--black);
    width: 45%;
    height: 2.5rem;
    margin: 1rem;
    cursor: pointer;
    border: solid 0.15rem var(--verdeoscurillo);
    transition: 200ms ease;
}

.producto-agregar:hover {
    background-color: var(--amarillo);
    box-shadow: 0rem 0rem 1rem 0.2rem var(--amarillo);
}

#favorite-regular {
    color: var(--verdeocuro);
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none; 
    cursor: pointer;
}

#added-favorite {
    color: var(--verdeocuro);
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none; 
    cursor: pointer;
}

/* ............................... */
/* ........modal productos.........*/
/* ............................... */

.modal-productos-index {
    display: none; /* Por defecto, oculto */
    position: fixed; /* Se coloca encima de todo */
    z-index: 1; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Tamaño completo de la pantalla */
    height: 100%;
    overflow: auto; /* Para permitir desplazamiento si es necesario */
    background-color: rgba(0,0,0,0.5); /* Fondo oscuro semitransparente */
  }
  
  .modal-contenido-productos-index {
    background-color: #fefefe; /* Color de fondo del modal */
    margin: 15% auto; /* Margen superior e inferior para centrar verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
  }
  
  .cerrar-productos-index {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .cerrar-productos-index:hover,
  .cerrar-productos-index:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* ............................... */
/* ............carrito.............*/
/* ............................... */

.disabled {
    display: none;
}

.carrito-vacio {
    margin: 1rem;
    color: var(--naranjaoscurillado);
    font-size: x-large;
}

.contenedor-carrito {
/*     justify-content: space-around;  */    
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    /* margin: 1rem; */
}

.carrito-producto {
    margin: auto;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
/*     justify-content: space-around; */
    align-items: center;
    text-align: center;
    border-radius: 0.8rem;
    transition: 200ms ease;
    box-shadow: 0rem 0rem 1rem 0.2rem var(--amarillo);

}

.carrito-producto:hover {
    background-color: var(--verdeclaro);
    box-shadow: 0rem 0rem 1rem 0.35rem var(--amarillo);

}

.carrito-producto-imagen {
    max-height: 10rem;
    border-radius: 0.8rem;
    margin: 0.8rem;
}

small {
    margin: 1rem;
}

.carrito-producto-titulo,
.carrito-producto-precio,
.carrito-producto-subtotal,
.carrito-producto-cantidad {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.carrito-producto-eliminar {
    background-color: transparent;
    border: none; 
    cursor: pointer;
    padding: 0.8rem;
    transition: 200ms ease;
}

.fa-trash:hover {
    color: var(--verdeocuro);
    box-shadow: 0rem 0rem 1rem 0.2rem var(--amarillo);
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.carrito-acciones-vaciar {
    background-color: var(--naranja);
    border-radius: 0.8rem;
    color: var(--black);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    border: solid 0.15rem var(--verdeoscurillo);
    transition: 200ms ease;
    font-size: x-large;
}

.carrito-acciones-vaciar:hover {
    background-color: var(--amarillo);
    box-shadow: 0rem 0rem 1rem 0.2rem var(--amarillo);
}

.carrito-acciones-derecha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carrito-acciones-total{
    margin: 1rem;
}

#total {
    font-size: xx-large;
    color: var(--naranjaoscurillado);
    margin: 0.3rem;
}

.carrito-acciones-comprar {
    background-color: var(--naranjaoscurillado);
    border-radius: 0.8rem;
    color: var(--black);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    border: solid 0.15rem var(--verdeoscurillo);
    transition: 200ms ease;
    font-size: x-large;
}

.carrito-acciones-comprar:hover {
    background-color: var(--naranja);
    box-shadow: 0rem 0rem 1rem 0.2rem var(--amarillo);
}

.carrito-comprado-div {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

/* ............................... */
/* ............producto ...........*/
/* ............................... */

.contenedor-grande-producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.div-descripcion {
    width: 45%;
    margin: 1rem;
}

.producto-titulo-descripcion{
    margin: 1rem;
    font-size: xx-large;
    color: var(--verdeocuro);
}

.descripcion-titulo {
    margin: 1rem;
    font-size: x-large;
}

.boton-volver {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

/* ............................... */
/* ............favoritos...........*/
/* ............................... */


/* ............................... */
/* ............Accesso...........*/
/* ............................... */

.acceso-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.formulario-acceso {
    background-color:#F2F2F2;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    border-radius: 2rem;
   }

   .formulario-acceso input{
    background-color: #FFF0BA;
    border-radius: 0.4rem;
    width: 15rem;
    height: 2rem;
}

.texto h1 h2{
    margin-bottom: 1rem;
    font-family: 'Comfortaa', sans-serif; 
    margin-left: 3rem;
    font-size: 2rem;

    
 
}
  
  .texto h6 {
    text-align: center;
    color: gray;
    font-family: 'Comfortaa', sans-serif;
    width: 15rem;
    margin-bottom: 1rem;
    margin-left: 2rem;

  }
  
  .buttonAcceso {
    background-color: #E5B50E;
    width: 13rem;
    height: 2rem;
    margin-top: 3rem;
    border-radius: 0.4rem;
    
    

  }
  .buttonAcceso:hover{
    background-color: #B0A326;
    box-shadow: 0.5rem 0.5rem 0.5rem  var(--naranja);

  }
/* ............................... */
/* ..............footer ...........*/
/* ............................... */

footer {
    margin-top: 2rem;
    background-color: var(--verdemostaza);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.siguenos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redesTit {
    font-size: xx-large;
    margin: 1rem;
}

.rrss {
    font-size: xxx-large;
    margin: 0.3rem;
}

.derechos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.politicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ............................... */
/* ............chechout............*/
/* ............................... */

.checkout-contenedor{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.h2Checkout{
    text-align: center;
    background-color: var(--naranja);
    align-items: center;
    justify-content: center;
    width: 100%;
}

.NPq {
   
    border-radius: 0.8rem;
    color: var(--black);     
    width: 90%; 
    margin: 1rem;
    padding: 0.5rem 2rem;
    min-width: 27rem;

}

.pedido,
.pago,
.check,
.formulario-checkout{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}
.inputCheckout{
    display: flex;

}

.boton-checkout{
    background-color: var(--verdemostaza);
    border-radius: 0.8rem;
    color: var(--black);
    width: 45%;
    height: 2.5rem;
    margin: 1rem;
    cursor: pointer;
    border: solid 0.15rem var(--verdeoscurillo);
    transition: 200ms ease;
    font-size: large;
}

.boton-checkout:hover {
    background-color: var(--amarillo);
    box-shadow: 0rem 0rem 1rem 0.2rem var(--amarillo);
}

.boton-separado-checkout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones {
    display: flex;
    justify-content: space-between; 
}

.modal-content {
    
    background-color: var(--verdemediosintrans);
    color: var(--black);
    margin:10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40rem;
    height: 35rem;
    text-align: center;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
  }

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: var(--black);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.modal, .modal1{
    display: none; /* Por defecto, la ventana modal está oculta */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.548);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.resultados {
    font-size: xx-large;

    color: var(--verdeocuro);
}

.resumen-carrito {
    font-size: x-large;

}

.resumen-carrito-divs {
    display: flex;
    justify-content: space-between;
}
/* ............................... */
/* ............acceso..............*/
/* ............................... */




/* ............................... */
/* ..........media query...........*/
/* ............................... */

/* NAVEGADOR */

/* TABLET Y MOVIL*/

@media screen and (max-width: 900px) {
    .derechos{
        display: none;
    }

    .politicas{
        display: none;
    }
    .carrito-producto {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .div-descripcion {
        width: 85%;
    }

}

/* ESCRITORIO Y TABLET */

@media screen and (min-width: 700px) {
    .fila1 {
        display: none;
    }
    .menu-btn{
        display: none;
    }
    .idioma{
        display: block;
    }

}


/* MOVIL */

@media screen and (max-width: 700px) {

    .categorias{
        display: none;
    }

    .logo2 {
        display: none;
    }

    .derechos{
        display: none;
    }

    .politicas{
        display: none;
    }

    .intro1,
    .introCostado,
    .fotointroDescuento,
    .fotointro {
        width: 100%;
    }

    .buscador {
        width: 13rem;
    }

    .carrito-producto {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
    /*     font-size: 1.25rem; */
        background-color: transparent;
        cursor: pointer;
    }
  
    .abrir-menu {
        color: #1c1c1c;
    }
  
    .cerrar-menu {
        color: #ececec;
    }
  
    .nav {
        z-index: 3;

        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
/*         gap: 1rem; */
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--verdemostaza);
        padding: 1.9rem 1.5rem;
/*         box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5); */

    }
  
    .nav.visible {
/*         opacity: 1; */
        visibility: visible;
    }

    .checkout-contenedor{
        margin: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .NPq {
        min-width: 20rem;
    }

}